* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #3d64e6;
}
.container {
  background-color: #ffffff;
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}
a, a:visited {
  text-decoration: none;
  color: #0b2f4f;
  transition: all ease 0.4s;
  text-transform: uppercase;
  font-size: 0.7em;
}
a:hover {
  color: #3d64e6;
  transition: all ease 0.4s;
  border-bottom: 3px solid #3d64e6;
}
.search-wrapper button {
  font-size: 0.9em;
  background-color: transparent;
  border: none;
  color: #0b2f4f;
  padding: 0.8em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all ease 0.4s;
}
.search-wrapper button:hover {
  background-color: #3d64e6;
  border-radius: 0.8em;
  color: #e2e4e5;
  transition: all ease 0.4s;
}
.search-wrapper input {
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
}
#result {
  margin-top: 1.25em;
  text-align: center;
}
.container .flag-img {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
  /* border-radius: 0.62em; */
}
.container h2 {
  font-weight: 600;
  color: #222a43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}
.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}
.container h4 {
  display: block;
  font-weight: 500;
  color: #222a43;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.container span {
  color: #5d6274;
}
.container h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: #ff465a;
}

table {
  width: 100%;
  margin-top: -20px;
}
td {
  width: 50%;
  padding: 20px 0 5px 0;
  border: 1px solid #e2e4e5;
  border-radius: 0.62em;
}

/* MEDIA QUERIES */
@media all and (min-width: 1024px) and (max-width: 1280px) { 
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
    width: 100%;
  }
  .search-wrapper button {
    font-size: 0.9em;
    background-color: transparent;
    border: none;
    color: #0b2f4f;
    padding: 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all ease 0.4s;
  }
  .search-wrapper button:hover {
    background-color: #3d64e6;
    border-radius: 0.8em;
    color: #e2e4e5;
    transition: all ease 0.4s;
  }
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
}

@media screen and (max-device-width: 480px) {
  .search-wrapper {
    display: block;
  }
  .search-wrapper button {
    width: 100%;
    margin-top: 5%;
  }
  .search-wrapper input {
    width: 100%;
  }
  .data-wrapper {
    font-size: 0.9em;
  }
  td {
    padding: 30px 10px 13px 10px;
  }
  table {
    margin-bottom: 20px;
  }
  .container .flag-img {
    width: 70%;
  }
  .container h3 {
    font-size: 0.9em;
  }
}
@media screen and (max-device-width: 870px) and (orientation:landscape) {
  a, a:visited {
    float: left;
    margin-left: 4%;
  }
  .container h2 {
    width: 35%;
    position: relative;
    text-align: center;
    line-height: 99%;
    margin-left: 2%;
  }
  .container h3 {
    font-size: 0.9em;
  }
  .search-wrapper {
    width: 100%;
    margin-left: -2%;
    margin-bottom: 7%;
    padding: 0;
  }
  .search-wrapper input {
    padding: 0 2px;
    font-size: 1em;
  }
  .search-wrapper button {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 0.6em;
  }
  .container .flag-img {
    position: relative;
    display: inline;
    float: left;
    width: 35%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 14px;
    margin-left: 2%;
  }
  table {
    float: right;
    width: 50%;
    position: absolute;
    right: 12px;
    top: 32px;
    height: 93%;
  }
  .data-wrapper {
    font-size: 0.75em;
  }
}